[hpc_hw_ln]
host=127.0.0.1
port=22
user=root
password=pwd


[hpc_hw_mgt]
host=127.0.0.1
port=22
user=root
password=pwd


[hpc_nm_ln]
host=127.0.0.1
port=22
user=root
password=pwd


[hpc_nm_mgt]
host=127.0.0.1
port=port
user=user
password=pwd
